.git
.gitignore
node_modules
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
dist
coverage
vendor
composer.json
composer.lock
artisan
.php-cs-fixer.cache
vercel.json
nginx.conf
dist
