.git
.gitignore
.env
.env.*
.editorconfig
.vscode
.idea
.docker
docker-compose*.yml
.github
.git*
*.md
bootstrap/cache/*
!bootstrap/cache/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/*.key
storage/app
storage/framework
storage/debugbar
<?php
.DS_Store
Thumbs.db
*.log
*.sqlite
tests
node_modules
npm-debug.log
yarn-error.log
