.git
.gitignore
README.md
.docker
.env.example
.env
node_modules
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.editorconfig
.gitattributes
.php_cs
.php_cs.cache
.phpunit.result.cache
storage/logs/*
bootstrap/cache/*
